.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #03252e;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* SignUp.css */
.form-group {
  width: 300px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  padding-top: 10px;
  
  
}


label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid #bbbbcac9;
  border-radius: 15px;
  
}

button[type="submit"] {
  background-color: #ff1381;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding-right: 15px;
}

button[type="submit"]:hover {
  background-color: #45a049;
}



/* SignUp.css */
body{
    background-color: hsl(0, 32%, 88%); 
    padding: 10px;
    padding-top: 50px;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(31, 133, 230, 0.801);
    max-width: 400px;
    margin: 60px;
    margin-left: 900px;
}


/* Login.css */
